@import "../../style/variables/variables.scss";

.main-body {
    background-color: $light-grey;
    min-width: 10rem;

    &__profile {
        background-color: $dark-grey;
    }

    &__division {
        display: none;
    }
}


@media screen and (min-width: 1100px) {
    .main-body {
        box-sizing: border-box;

        &__sections-wrapper{
            display: flex;
            padding: 0 10rem;
        }

        &__profile .about-template__wrapper{
            padding: 3rem 20rem;
        }

        &__division {
            display: block;
            min-width: 0.1rem;
            margin: 3rem 0;
            background-color: $black;
        }
    } 
}

@media screen and (min-width: 1700px) {
    .main-body {
        &__sections-wrapper{
            padding: 0 16rem;
        }

        &__profile .about-template__wrapper{
            padding: 3rem 34rem;
        }
    } 
}

