@import "../../style/variables/variables.scss";

@media screen and (min-width: 1000px) {
    .main-body {
        display: flex;
        padding: 3rem 5rem 0 5rem;

        &__division {
            @include dividing-line;
            margin: 3rem 0;
        }
    } 
}

@media screen and (min-width: 1400px) {
    .main-body {
        padding: 3rem 10rem 0 10rem;
    }
}

@media screen and (min-width: 1700px) {
    .main-body {
        padding: 3rem 16rem 0 16rem;
    } 
}

