@import "../../../style/variables/variables.scss";

.profession {
    padding: 0 3rem;

    &__inner {
        background-color: $light-yellow;
        text-align: center;
        font-size: 2rem;
        padding: 1.5rem 4rem;
        line-height: 2.4rem;
    }
}

@media screen and (min-width: 600px) {
    .profession {
        padding: 0;
    }
}