@import "../../../style/variables/variables.scss";

.photo-section {
    box-sizing: border-box;
    padding: 3rem 3rem 0 3rem;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    & figcaption {
        position: relative;
        padding: 0.9rem;
        text-align: center;
        font-weight: 700;
        font-size: $font-text-main;
        margin-bottom: 0.5rem;
        letter-spacing: 0.15rem;
    }

    & .figcaption-line {
        position: absolute;
        background-color: $black;

        &__vertical {
            width: 0.2rem;
            height: 40%;

            &--top-left {
                top: 0;
                left: 0;
            }

            &--bottom-right {
                bottom: 0;
                right: 0;
            }
        }

        &__horizontal {
            height: 0.2rem;
            width: 20%;

            &--top-left {
                top: 0;
                left: 0;
            }
            
            &--bottom-right {
                bottom: 0;
                right: 0;
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .photo-section {
        padding: 0;
    } 
}



@media screen and (min-width: 800px) {
    .photo-section {
        & figcaption {
            font-size: 2rem;
        }
    } 
}

