@import "../variables/variables.scss";

@keyframes rating-stars-shining {
    0% {
        transform: translateX(-19rem) skewX(-15deg);
    }
    100% {    
        transform: translateX(40rem) skewX(-15deg);
        opacity: 0;
    }
}

@keyframes bike-rides {
    0% {
        transform: translateX(0)
    }

    33% {
        transform: translateX(3rem)
    }

    66% {
        transform: translateX(-2rem)
    }

    100% {
        transform: translateX(0)
    }
}

@keyframes games {
    0% {
        transform: rotate(0)
    }

    25% {
        transform: rotate(-30deg) scale(1.1)
    }

    50% {
        transform: rotate(30deg) scale(1.2)
    }

    75% {
        transform: rotate(-30deg) scale(1.1)
    }

    100% {
        transform: rotate(0) scale(1)
    }
}

@keyframes challenges {
    0% {
        transform: translateX(0) translateY(0) rotate(0)
    }
    10% {
        transform: translateX(-1.5rem) translateY(-1rem) rotate(-45deg)
    }
    20% {
        transform: translateX(1rem) translateY(-1.5rem) rotate(45deg)
    }
    30% {
        transform: translateX(-1rem) translateY(1.5rem) rotate(-45deg)
    }
    40% {
        transform: translateX(0) translateY(0)
    }
    50% {
        transform: translateX(1rem) translateY(1.5rem) rotate(45deg)
    }
    60% {
        transform: translateX(0) translateY(0) rotate(0)
    }
    70% {
        transform: translateX(-1rem) translateY(1rem) rotate(-45deg)
    }
    80% {
        transform: translateX(0) translateY(-1rem) rotate(30deg)
    }
    90% {
        transform: translateX(0.5rem) translateY(0) rotate(0)
    }
    92% {
        transform: translateX(0.4rem) translateY(-0.3rem) 
    }
    94% {
        transform: translateX(0.3rem) translateY(0) 
    }
    96% {
        transform: translateX(0.2rem) translateY(-0.3rem) 
    }
    100% {
        transform: translateX(0) translateY(0) 
    }
}

@keyframes motorbikes-up {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(-45deg)
    }
}

@keyframes motorbikes-forward {
  from {
    transform: translateX(0)
  }
  to {
    transform: translateX(5rem)
  }
}