@import "../../../../../style/variables/variables.scss";

.skills-level-wrapper {
    display: flex;
    align-items: center;
}

.skills-level {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    background-color: $light-grey;
    margin: 0.2rem;

    &--reached {
        background-color: $very-dark-grey;
    }
}

@media screen and (min-width: 600px) {
    .skills-level  {
        width: 2rem;
        height: 2rem;
    } 
}
