@import "../../style/variables/variables.scss";

.main-footer {
    @include flex-center-center;
    box-sizing: border-box;
    height: 14rem;
    background-color: $dark-grey;

    & p {
        font-size: 1rem;
        text-align: center;
        padding: 3rem;
    }
}