@import "../../style/variables/variables.scss";

@media screen and (min-width: 600px) {
    .main-header {
        &__top-section {
            padding: 3rem 9rem 1rem 9rem;
        }
    }
}

@media screen and (min-width: 1000px) {
    .main-header {
        display: flex;
        flex-direction: row;
        padding: 0 5rem;

        &__top-section {
            max-width: 19rem;
            padding: 3rem 3rem 0;
        }

        &__division {
            @include dividing-line;
            margin-top: 3rem;
        }
    }
}

@media screen and (min-width: 1400px) {
    .main-header {
        padding: 0 10rem;

        &__top-section {
            padding: 3rem 3rem 0;
        }
    }
}

@media screen and (min-width: 1700px) {
    .main-header {
        padding: 3rem 16rem;
    }
}