$light-grey: #e0e0e0;
$dark-grey:  #bdbdbd;
$white: #fff;
$black: rgb(0,0,0);
$light-yellow: rgb(212 212 2);
$yellow: rgb(255,255,0);
$skill-default: #c50000;
$skill-reached: #6fb702;
$shiningEffect1: rgba(255,255,255,0.5);
$shiningEffect2: rgba(255,255,255,0.2);

