$light-grey: #c7c7c7;
$dark-grey:  #bdbdbd;
$very-dark-grey:  #696969;

$white: #fff;
$black: rgb(0,0,0);
$light-yellow: rgb(226 226 80);
$yellow: rgb(255,255,0);
$shiningEffect1: rgba(255,255,255,0.5);
$shiningEffect2: rgba(255,255,255,0.2);

